@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,600;1,500&family=Roboto:wght@700&family=Rubik:wght@700&display=swap');

.body{

}

.lheader{
    font-family: 'Rubik', sans-serif;
}

.briefdesc{
    font-family: 'Roboto Mono', monospace;
}

.allicons{
    position: absolute;
    left: 0px;
    right: 0px;
    top: 250px;
    bottom: 120px;
    width: 300px;
}

.alliconheader{
    font-family: 'Roboto Mono', monospace;
}

.infobtns{
    position: absolute;
    left: 0px;
    right: 0px;
    top: 450px;
    bottom: 120px;
    width: 300px;
}